*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Supprimerait .idea/
Supprimerait app/libs/
Supprimerait app/src/main/res/drawable/
Supprimerait model/libs/
/gradle
